html,body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
.sathi-1{
    background-image: linear-gradient(120deg, #FFFEFF 0%, #D7FFFE 75%, #FFFEFF 25%);
}
.sathi-11{
    background-image: linear-gradient(60deg, #FFFEFF 0%, #D7FFFE 75%, #FFFEFF 25%);
}
.sathi-2{
    background-image: linear-gradient(65deg, #FFFEFF 0%, #D7FFFE 30%, #90F9C4 26%);
}
.banner-bg{
    background: #ffffff;
    height: 100vh;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
.landing-view{
  min-height: 100vh;
}
a{
    font-size: 20px;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}
h1, h2, h3, h4{
    text-transform: capitalize;
    color: black;
    font-family: 'PT Sans Caption', sans-serif;
}
img{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(72,94,116,0.5);
    height: 340px; 
    width: 340px;
}
.image-card{
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
.image-card img {
    transition: all 0.3s;
    display: block;
    height: auto;
    transform: scale(1);
}
.image-card:hover img {
    transform: scale(1.25);
}
.overlay{
    color: black;
    font-family: 'Jomolhari', serif;
    font-size: 46px;
    color:#2ecc72;
}
.footer{
    background-image: linear-gradient(to bottom, #FFFEFF 0%, #D7FFFE 100%);
}
.footerfont{
        font-family: 'PT Sans Caption', "sans-serif";
        color: black;
        font-size: 14px;
        letter-spacing: 1.5px;
        word-spacing: 6px;
}
.btn{
        background-color: #16c892;
        text-transform: capitalize;
        box-shadow: 0 0 20px 0 rgba(72,94,116,0.3);
        font-size: 20px;
        padding: 17px;
}
.btn:hover{
        background-color: #2ecc72;
        color: black;
        box-shadow: 0 0 20px 0 rgba(72,94,116,0.55);
}
p{
    font-family: 'Quicksand', "sans-serif";
    line-height: 1.5;
}
.fontcolor{
    font-family: 'Quicksand', "sans-serif";
    color: black;
    letter-spacing: 1.5px;
    font-size: 15px;
    word-spacing: 4px;
}
.anchor-down{
    height: 80px;
    width: 80px;
    z-index: 10;
    margin-top: 50px;
    color: #16c892;
    box-shadow: none;
}
.nav-link{
    color: black;
}
.nav-item:focus{
  transition: 0.3s;
  border-bottom: 4px solid #16c892;
  border-radius: 4px;
}
.section-2{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 50%);
}
.section-2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform-origin: top right;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 50%);
    transform: skewY(2deg);
}
.section-3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(65deg, #FFFEFF 0%, #D7FFFE 30%);
}
.section-3:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform-origin: top left;
    background-image: linear-gradient(65deg, #FFFEFF 0%, #D7FFFE 30%);
    transform: skewY(-2deg);
}
.course-card{
    border: 2px ridge #7CEC9F;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.3);
    max-width: 300px;
}
.course-card:hover , .educator-card:hover, .mentor-card:hover{
    transform: scale(0.95);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
.card-header{
    font-family: 'Raleway', sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(72,94,116,0.2);
    background: #7CEC9F;
}
.educator-img{
    box-shadow: none;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.mentor-card{
    border-left: 4px ridge #7CEC9F;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0 rgba(72,94,116,0.3);
}
.mentor-img{
    box-shadow: none;
    height: inherit;
    width: 85%;
}
.box{
    border: 3px ridge #7CEC9F;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.3);
}
.educator-card{
    border-left: 4px ridge #7CEC9F;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0 rgba(72,94,116,0.3);
}
.quote-icon{
    height: 30px;
    width: 30px;
    box-shadow: none;
}
.slick-prev:before, .slick-next:before{
    color:#16c892;
    font-size: 25px;
  }
.clip{
    height: 100%;
    width: 75%; 
    background-image: linear-gradient(65deg, #FFFEFF 0%, #D7FFFE 30%, #90F9C4 26%);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.educator-card:hover .clip{
    animation: educator-card 4s infinite;
}
.mentor-card:hover .clip{
    animation: mentor-card 4s infinite;
}
@keyframes arrow {
  0% {
    clip-path: circle(0.0% at 50% 50%);
  }
  50%{
    clip-path: circle(50.0% at 50% 50%);
  }
  100%{
      clip-path: circle(0.0% at 50% 50%);
  }
}
  @keyframes educator-card {
    0% {
      clip-path: circle(0.0% at 50% 50%);
    }
    25% {
      clip-path: circle(40.0% at 50% 50%);
    }
    50%{
        clip-path: circle(50% at 50% 0);
    }
    75%{
        clip-path: circle(50.0% at 50% 100%);
    }
    100%{
        clip-path: circle(0.0% at 50% 50%);
    }
  }
  @keyframes mentor-card {
    0% {
        clip-path: circle(25.0% at 0 50%);
    }
    50% {
      clip-path: circle(40.0% at 50% 50%);
    }
    100%{
        clip-path: circle(25.0% at 100% 50%);
    }
  }
  
.nav-logo{
  height: 70px;
  width: 200px; 
  box-shadow: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.logo-mobile{
  display: none;
}
@media only screen and (max-width: 768px){

  .nav-logo{
    height: 30px;
    width: 40vw;
    float: left;
  }
  .logo-mobile{
    display: block;
  }
  .logo-big-screen{
    display: none;
  }
 
  .dropdown-menu{
    width: 100vw;
    overflow: scroll;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 100%;
    left: 0;
  }
    .overlay{
        padding: 10px;
        text-align: center;
        font-size: 30px;
    }
    .btn{
        background-color: #16c892;
        text-transform: capitalize;
        font-size: 12px;
        padding: 9px;
    }
   .info{
        position: relative;
        top: 50px;
        bottom: 0px;
    }
   .anchor-down{
       visibility: hidden;
    }
    
.educator-info, .mentor-info{
    background: linear-gradient(to bottom, white, #2ed573);
    margin: 15px;
    margin-bottom: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px ;
}

    img{
        height: 250px;
        width: 250px;
    }
    .footerfont{
        font-size: 10px;
    }
    .fontcolor{
        font-family: 'Quicksand', "sans-serif";
        color: black;
        letter-spacing: 1.2px;
        word-spacing: 3px;
    }
    p{
        font-size: 13.5px;
    }
    .slick-prev:before, .slick-next:before{
        color:#16c892;
        font-size: 18px;
      }
}
@media only screen and (min-width: 768px){
    .course-card{
        margin-left: 55px;
        margin-right: 55px;
    }
    
    .educator-info, .mentor-info{
        background: linear-gradient(to right,  #90F9C4, #D7FFFE, white);
        overflow: hidden;
        border-radius: 5px;
        height: 50vh;
        transform: skewX(-8.5deg);
    }
}

.site-footer
{
  background-image: linear-gradient(-50deg, #FFFEFF 0%, #55efc4 100%);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}

.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.facebook:hover
{
  color:#3b5998
}
.twitter:hover
{
    color:#00aced
}
.instagram:hover
{
  color:rgb(228, 64, 95);
}
.youtube:hover
{
  color:#C4302B;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}